[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
channels = "*"
psycopg2 = "*"
django-rest-auth = "*"
django-allauth = "*"
django-rest-api = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
